body {
    /* background-image: url('main/img/email-pattern.png'); */
    display: flex;
    height: 100vh;
   

}
.message-box {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 60vh;
}