{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    {% block stylesheet %}

    {% endblock stylesheet %}

    <title>{{ title }}</title>
</head>

<body>
    <div></div>
    <div class="container-fluid container-banner">
        <div class="card card-banner">

            <div class="col-sm-8 align-self-center banner-text">
                <h1 class="text-center display-3" style="font-size: 5vw;">{{ author.business }}</h1>
            </div>


        </div>
        <br />
        <div class="container">

            {% block body %}
            {% block navigation %}
            <nav class="navbar navbar-expand-sm rounded">

                <div class="container-colapsed-menu">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                </div>





                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="container">
                        <ul class="navbar-nav lead container-menu">
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'main:index' %}">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'services:index' %}">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:testimonials' %}">Testimonials</a>
                            </li>
                            <!--   -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endblock navigation %}



            </nav>
        </div>

    </div>


    <div class="container">
        <br />
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="jumbotron base-jumbotron">
            <h1 class="text-center">{{ author.business }}</h1>
            <p class="lead text-center">
                {{ author.identity }}
            </p>
            <h2 class="text-center">{{ title }}</h2>
        </div>

        {% block page_content %}{% endblock %} {% block form_content%}{% endblock %}

    </div>

    <!-- Footer 
================================================== -->
    <!-- Site footer -->
    <div class="container">
        {% block footer %}
        <footer class="site-footer rounded">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <h6>About</h6>
                        <p class="text-justify">{{ author.identity }}</p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="{% url 'main:about' %}">About</a></li>
                            <li><a href="{% url 'main:contact' %}">Contact</a></li>
                            <li><a href="{% url 'services:index' %}">Services</a></li>
                            <li><a href="{% url 'main:testimonials' %}">Testimonials</a></li>

                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                            <a href="{% url 'main:about' %}">{{ author.firstName }} {{ author.lastName }}</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
    </div>

    {% endblock body %}


</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = document.getElementById("get_in_touch");
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

</html>