{% extends "base.html" %} {% load static %} {% block page_content %}

<div class="row ">
    <div class="col-sm">
        <div class="card mb-4 services-index-card">
            <div class="card-header">
                <div class="flex row align-items-center">
                    <div class="flex col-sm-3 text-right">
                        <h1 class="display-4">
                            {{ author.firstName }}
                        </h1>

                    </div>
                    <div class="flex col-sm-4 text-center">
                        <img src="{{ author.image.url }}" alt="Profile Picture"
                            style="border-radius: 50%; height: 300px; width: 300px;">
                    </div>
                    <div class="flex col-sm-5 text-left">
                        <h1 class="display-4">
                            {{ author.lastName }}
                        </h1>

                    </div>
                </div>
            </div>

            <div class="card-body">

                <h5 class="card-text lead">
                    {{ author.about|safe }}
                </h5>


            </div>

        </div>
    </div>
</div>
<div class="row text-center">

    <div class="col-sm-6">
        <div class="jumbotron about-jumbotron">
            <h4 class="text-center">Why Hire me</h4>
            <p>{{ author.why_hire_me|safe }}</p>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="jumbotron about-jumbotron">
            <h4 class="text-center">Why work with me</h4>
            <p>{{ author.why_work_with_me|safe }}</p>
        </div>

    </div>

</div>

{% endblock %}{% block form_content %}<br />{% include "main/get_in_touch.html" %}{% endblock %}