{% extends "base.html" %} {% load widget_tweaks %} {% load easy_maps_tags %} {% block page_content %}



<div class="card">
    <div class="card-body" id="map">

        <h3 class="card-title">How to reach us</h3>
        <br>
        <div class="flex row">
            <div class="flex col-sm-4">
                <h5 class="card-subtitle mb-2 text-muted">Contact details</h5>
                <p class="card-text"><span class="material-icons">email</span><a href="mailto:{{ author.email }}"> {{ author.email }}</a></p>
                <p class="card-text"><span class="material-icons">call</span><a href="tel:{{ author.mobile }}"> {{ author.mobile }}</a></p>
                <br>

            </div>
            <div class="flex col-sm-4">
                <h5 class="card-subtitle mb-2 text-muted">Social Links</h5>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>

            </div>
            <div class="flex col-sm-4">
                <h5 class="card-subtitle mb-2 text-muted">Google map</h5>
                <div>
                    {% easy_map "57.285051, -2.874634" 295 300 16 %}
                </div>

            </div>

        </div>
    </div>
</div>
<br>
<h1 class="text-center">Contact Form</h1>
<p class="lead">If you would like to get in touch to discuss a service or project build you require please fill out the
    form below.</p>
<div class="contact-jumbotron jumbotron">

    <form method="post" novalidate>
        {% csrf_token %} {% include 'main/includes/form.html' %}
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-form">Send</button>
        </div>
    </form>
</div> {% endblock %}