{% extends "base.html" %} {% load static %} {% block page_content %}
<h1>Testimonials</h1>
<div class="row">
    {% for testimonial in testimonial_list %}
    <div class="col-sm">
        <div class="card mb-4 testimonials-index-card">
            <div class="card-header">
                <h5>
                    {{ testimonial.title }}
                </h5>
            </div>
            <div class="card-body ">

                <p class="card-text">
                    {{ testimonial.body}}
                </p>

            </div>
            <div class="card-footer">
                <h6>{{ testimonial.author }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}{% block form_content %}<br/>{% include "main/get_in_touch.html" %}{% endblock %}