{% extends "base.html" %} {% load static %} {% block page_content %}
<h1>{{ service.name }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if service.image.url != None %}
        <img src="{{ service.image.url }}" alt="" width="100%"> {% endif %}
    </div>
    <div class="col-md-4">
        <h5>The Service:</h5>
        <p>{{ service.title }}</p>
        <br>
        <h5>About the Service:</h5>
        <p>{{ service.description }}</p>
    </div>
</div>
{% if components %}
<br/>
<h5>How we can help</h5>
{% endif %}
<div class="row">
    {% for component in components %}
    <div class="col-sm-12">
        <div class="card mb-4 services-index-card">
            
                <h4 class="card-header">
                    {{ component.name }}
                </h4>
            
            <div class="card-body">
                <p class="card-text">
                    {{ component.description }}
                </p>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>





{% endblock %}{% block form_content %}<br/>{% include "main/get_in_touch.html" %}{% endblock %}