{% extends "base.html" %} {% load static %} {% block page_content %}
<h1>Services</h1>


<div class="row">

    {% for service in service_list %}
    <div class="col-sm-6">

        <div href="{% url 'services:detail' service.id %}" class="card mb-4 services-index-card">
            <h4 class="card-header">{{ service.name }}</h4>


            {% if service.image.url != None %}
            <img class="card-img-top" src="{{ service.image.url }}"> {% endif %}
            <div class="card-body service-card-body">
                <h5 class="card-title">{{ service.title }}

                </h5>
                <h6 class="card-text lead">{{ service.description|truncatewords_html:30|safe }}</h6>
                <br>
                <a href="{% url 'services:detail' service.id %}" class="btn btn-card">
                    Read More
                </a>
                <a href="{% url 'services:detail' service.id %}" class="stretched-link"></a>
            </div>
            <div class="card-footer">
                <h3>From £{{ service.rate }}</h3>
            </div>
        </div>

    </div>


    {% endfor %}

</div>

{% endblock %}{% block form_content %}<br />{% include "main/get_in_touch.html" %}{% endblock %}